/* projects section component here */
.projects-section {
  width: 100%;
  padding: 3.75rem 0 1.875rem 0;
  position: relative;
  background: var(--blackProject);
}
.projects-section .backG-text::before {
  content: "projects";
  position: absolute;
  top: -2rem;
  left: 0rem;
  color: var(--title-color);
  font-size: calc(4rem + 5vw);
  z-index: 0;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-weight: bold;
  overflow: hidden;
}
.portfolio-content-wrapper {
  padding: 0 10px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .projects-section {
    padding: 2rem 0 0.938rem 0;
  }
  .projects-section .backG-text::before {
    top: -2rem;
    left: 0;
  }
  .portfolio-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .projects-section .backG-text::before {
    top: -1rem;
    font-size: calc(4rem + 3vw);
  }
}

@media screen and (max-width: 337px) {
  .projects-section .backG-text::before {
    font-size: calc(4rem + 1vw);
  }
}
