/* common shape divider component here */
.custom-shape-divider-top-1671439239 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1671439239 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1671439239 .shape-fill {
  fill: #7a7a7a;
}
