/* skills content wrapper */
.skills-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.skills-content-wrapper::before {
  content: "skills";
  position: absolute;
  top: -4rem;
  left: 0rem;
  float: left;
  color: var(--title-color);
  font-size: calc(4rem + 5vw);
  z-index: 0;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-weight: bold;
}
/* right-col section  */
.skills-content-wrapper .right-col {
  width: 100%;
  margin-top: 1.875rem;
}
/* right-col section icons section */
.skills-content-wrapper .right-col .techsection {
  width: 100%;
  text-align: center;
  height: 50vh;
}
.skills-content-wrapper .right-col .techsection > div {
  width: 14%;
  height: 16vh;
  max-height: 8.75rem;
  z-index: 1;
  border-radius: 1.25rem;
  margin: 3%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
  box-shadow: var(--white) 5px 5px 5px inset;
}
.skills-content-wrapper .right-col .techsection > div:hover {
  overflow: hidden;
  transform: scale(1.08);
  border: 1px solid var(--white);
  box-shadow: var(--white) 5px 5px 5px;
}
.skills-content-wrapper .right-col .techsection > div > svg {
  font-size: 8vh;
}
.skills-content-wrapper .right-col .techsection > div > h5 {
  position: relative;
  top: 0.5rem;
  background-color: transparent;
}

/* media queries */
@media screen and (max-width: 768px) {
  .skills-content-wrapper::before {
    top: -1.7rem;
    left: 0;
  }
  .skills-content-wrapper .right-col .techsection {
    height: fit-content;
  }
  .skills-content-wrapper .right-col .techsection > div {
    width: 27%;
    height: 12vh;
  }
  .skills-content-wrapper .right-col .techsection > div > svg {
    font-size: 5vh;
  }
  .skills-content-wrapper .right-col .techsection > div > h5 {
    font-size: 0.8rem;
  }
}
