/* contact section component */
#contact {
  padding: 1.8rem 0;
  position: relative;
  /* background: linear-gradient(145deg, #434343 45%, #383737 20%); */
  background: var(--blackContact);
}
#contact .backG-text::before {
  content: "contact";
  position: absolute;
  top: 0rem;
  left: 0rem;
  color: var(--title-color);
  font-size: calc(4rem + 5vw);
  z-index: 0;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-weight: bold;
}
/* contact section title  */
#contact h2 {
  width: 64%;
  padding-top: 1.7rem;
  font-size: calc(1.4rem + 2vw);
  color: var(--white);
  text-align: right;
  overflow: hidden;
}
/* contact section content */
.contact-content-wrapper {
  display: flex;
  width: 100%;
}

/* media queries */
@media screen and (max-width: 774px) {
  #contact {
    padding: 2rem 0 0.938rem 0;
  }
  #contact h2 {
    width: 90%;
    padding-top: 1.5rem 0 0 0;
    margin: 0;
    white-space: normal;
  }
  .contact-content-wrapper {
    padding: 0 0.424rem;
  }
}

@media screen and (max-width: 335px) {
  #contact .backG-text::before {
    font-size: calc(3.4rem + 1vw);
  }
}
