/* Projects showcase section component here */
.projects-showcase {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
  justify-content: center;
}
.projects-showcase .showcase-item {
  width: 16.563rem;
  height: 16.563rem;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0.625rem;
  position: relative;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* Projects showcase section project image here */
.projects-showcase .showcase-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
}
/* Projects showcase section content on hover here */
.projects-showcase .showcase-item .meta-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 1.25rem;
  padding: 0.625rem;
  margin-right: 1.25rem;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.projects-showcase .showcase-item .meta-content h3 {
  color: var(--black);
  font-weight: 700;
  margin-bottom: 0.125rem;
}
.projects-showcase .showcase-item .meta-content .go-to-cta {
  display: flex;
  align-items: center;
}
.projects-showcase .showcase-item.zoomIn {
  transform: scale(0);
  -webkit-animation: zoomIn 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
  animation: zoomIn 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.projects-showcase .showcase-item.zoomOut {
  transform: scale(1);
  -webkit-animation: zoomOut 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
  animation: zoomOut 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.projects-showcase .showcase-item:hover {
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.75);
}
/* changing visibility of metacontent on hover of item */
.projects-showcase .showcase-item:hover .meta-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(-20px);
}

/* Projects showcase section transistions here */
@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* media queries */
@media screen and (max-width: 596px) {
  .projects-showcase .showcase-item {
    width: 10.313rem;
    height: 10.313rem;
  }
  .projects-showcase .showcase-item .meta-content {
    left: 0.8rem;
  }
  .projects-showcase .showcase-item .meta-content h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 396px) {
  .projects-showcase .showcase-item {
    width: 9.063rem;
    height: 9.063rem;
  }
  .projects-showcase .showcase-item .meta-content {
    left: 0rem;
  }
  .projects-showcase .showcase-item .meta-content h3 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 356px) {
  .projects-showcase .showcase-item {
    width: 7.813rem;
    height: 7.813rem;
  }
  .projects-showcase .showcase-item .meta-content h3 {
    font-size: 0.7rem;
  }
  .projects-showcase
    .showcase-item
    .meta-content
    .go-to-cta
    .showcaseTextHover
    a {
    font-size: 0.4rem;
  }
}
